.git
.idea/
*.egg*
features/
*.npx
__pycache__/
wandb/
conv_logs/
*.png
*.npy
*.gz
pdbs/
*.DS_store
*.DS_Store
*sublime-project
*sublime-workspace
renum_output/
predictions/
labels_gifs/
casp_test_fasta/
**.ipynb_checkpoints
data/domain_scanning/
src/benchmark/sword/cluster_af_preds/
experiments/cath_annotated_alphafold/reformatted_cath_annotations.csv
experiments/cath_annotated_alphafold/assignment.table
src/benchmark/sword/sword1_fb_preds/
src/benchmark/unidoc/facebook_test_preds_renum/
src/benchmark/unidoc/auth_facebook_test_preds/
src/benchmark/unidoc/casp_unidoc_preds/
src/benchmark/unidoc/facebook_test_preds/
src/benchmark/unidoc/unidoc_preds/
src/benchmark/unidoc/*_preds/
random_scripts/
experiments/cath_resolve_hits/preds_facebook_test.crh
experiments/cath_resolve_hits/facebook_test.crh
experiments/cath_resolve_hits/casp6_test.crh
experiments/cath_resolve_hits/casp14_test.crh
data/casp14_test_fasta/
data/featurized_split_ids.pickle
experiments/cath_resolve_hits/preds_facebook_test.crh
experiments/cath_resolve_hits/facebook_test.crh
data/cath/
data/training_set_fasta/
data/v3_train_redundancy_blast/
data/blast
*.fasta
src/benchmark/unidoc/casp6_pdb_preds/
src/create_features/secondary_structure/files.txt
redundant_data_and_files
src/benchmark/PUU/casp_6_7/
*image_gen.pml
*.crh
*.csv
training_v3.csv
saved_models/
src/create_features/make_feature_errors.txt
outputs/
Visualizations/
experiments/CRH/
data/blast/
experiments/casp_domain_boundary_visualization/
src/benchmark/sword/results/
src/benchmark/sword/results_pdb/
*src/configuration/qsub/*
src/configuration/qsub
src/benchmark/PUU/DaliLite.v5/
*.dssp
*.puu
data/fu_pred/
data/pdbids/
data/af_pdbs/
data/cath-domain-boundaries.txt
data/cath-domain-description-file.txt
data/cath-domain-list-s100.txt
data/cath_chain_topology_class.pickle
benchmark_results/*
experiments/ss_vis/
src/benchmark/unidoc/casp14_pdb_preds/
src/benchmark/unidoc/casp6_pdb_preds/
src/benchmark/UniDoc/
