.git
.idea/
__pycache__/
conv_logs/
*.png
*.npy
pdbs/
*.DS_Store
experiments/cath_annotated_alphafold/assignment.table
*image_gen.pml
*.crh
*.csv
results/
experiments/
venv/
stride/*
!stride/README_stride.txt
!stride/stride.tgz
